<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ip test</title>

    <form action="/ip" method="POST">
        <p>Votre instanceId : <input type="text" name="instanceId" /></p>
        <p>Votre ip : <input type="text" name="ip" /></p>
        <p><input type="submit" value="set"></p>
    </form>
</head>
<body>


</body>
</html>